<% content_for :title, "Sandbox" %>

<main data-controller="lexxy-output" data-action="lexxy:change->lexxy-output#refresh">
  <section>
    <h2>Editor</h2>
    <div>
      <%= rich_text_area_tag :sandbox, nil, placeholder: "Write something...", data: { lexxy_output_target: "editor" } do %>
        <lexxy-prompt trigger="@" src="<%= people_path %>" name="mention"></lexxy-prompt>
      <% end %>
    </div>
  </section>

  <section>
    <h2>Output</h2>
    <div data-lexxy-output-target="output"></div>
  </section>
</main>
