@import url("lexxy-variables.css");

:where(lexxy-editor) {
  --lexxy-toolbar-gap: 2px;
  --lexxy-toolbar-radius: 0.5ch;

  display: block;
  overflow: visible;
  position: relative;

  button {
    -webkit-appearance: none;
    appearance: none;
    background: var(--lexxy-color-canvas);
    border: none;
    border-radius: var(--lexxy-toolbar-radius);
    cursor: pointer;
    font-size: inherit;
    inline-size: auto;

    @media(any-hover: hover) {
      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .node--selected {
    &:has(img) img,
    &:not(:has(img)) {
      outline: var(--lexxy-focus-ring-size) solid var(--lexxy-focus-ring-color);
      outline-offset: var(--lexxy-focus-ring-offset);
    }
  }
}

/* Placeholder */
:where(.lexxy-editor--empty) {
  .lexxy-editor__content:not(:has(ul, ol))::before {
    content: attr(placeholder);
    color: currentColor;
    cursor: text;
    opacity: 0.66;
    pointer-events: none;
    position: absolute;
    white-space: pre-line;
  }
}

:where(.lexxy-editor__content) {
  min-block-size: 8lh;
  outline: 0;

  > :last-child {
    margin-block-end: 0;
  }
}

:where(.lexxy-editor--drag-over) {
  background-color: var(--lexxy-color-selected);
  border-radius: 4px;
  outline: 2px dashed var(--lexxy-color-selected-dark);
}

/* Toolbar
/* -------------------------------------------------------------------------- */

:where(lexxy-toolbar) {
  border: 1px solid var(--lexxy-color-ink-lighter);
  border-radius: calc(var(--lexxy-toolbar-radius) + var(--lexxy-toolbar-gap));
  color: currentColor;
  display: flex;
  font-size: inherit;
  gap: var(--lexxy-toolbar-gap);
  margin: 0 0 1ch;
  max-inline-size: 100%;
  padding: 2px;
  position: relative;

  > button {
    aspect-ratio: 1;
    block-size: 2lh;
    color: currentColor;
    display: grid;
    place-items: center;

    svg {
      -webkit-touch-callout: none;
      block-size: 0.85em;
      fill: currentColor;
      grid-area: 1/1;
      inline-size: auto;
      user-select: none;
    }

    &:is(:active) {
      background-color: var(--lexxy-color-selected);
    }

    &[aria-pressed="true"] {
      background-color: var(--lexxy-color-selected);
    }
  }
}

/* Link dialog
/* -------------------------------------------------------------------------- */

:where(.lexxy-link-dialog) {
  dialog {
    background-color: var(--lexxy-color-canvas);
    border: 1px solid var(--lexxy-color-ink-lighter);
    border-radius: var(--lexxy-toolbar-radius);
    box-shadow: var(--lexxy-shadow);
    color: var(--lexxy-color-ink);
    padding: 1ch;
    position: absolute;
    z-index: 1;
  }

  .lexxy-dialog-actions {
    display: flex;
    font-size: var(--lexxy-text-small);
    flex: 1 1 0%;
    gap: 1ch;
    margin-block-start: 1ch;
  }

  .input[type="url"],
  button {
    line-height: 1.5lh;
    padding-inline: 1ch;
  }

  .input[type="url"] {
    border: 1px solid var(--lexxy-color-ink-lighter);
    border-radius: var(--lexxy-toolbar-radius);
    min-inline-size: 30ch;
  }

  button {
    background-color: var(--lexxy-color-ink-lightest);
    inline-size: 100%;
    justify-content: center;
  }

  button[type="submit"] {
    background-color: var(--lexxy-color-accent-dark);
    color: var(--lexxy-color-ink-inverted);

    --lexxy-focus-ring-color: var(--lexxy-color-accent-dark, var(--lexxy-color-link));
  }
}

/* Language picker
/* -------------------------------------------------------------------------- */

:where(.lexxy-code-language-picker) {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--lexxy-color-canvas);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 19.5c-.7 0-1.3-.3-1.7-.8l-9.8-11.1c-.7-.8-.6-1.9.2-2.6.8-.6 1.9-.6 2.5.2l8.6 9.8c0 .1.2.1.4 0l8.6-9.8c.7-.8 1.8-.9 2.6-.2s.9 1.8.2 2.6l-9.8 11.1c-.4.5-1.1.8-1.7.8z' fill='%23000'/%3E%3C/svg%3E");
  background-position: center right 1ch;
  background-repeat: no-repeat;
  background-size: 1ch;
  block-size: 1.5lh;
  border: 1px solid var(--lexxy-color-ink-lighter);
  border-radius: 0.5ch;
  color: var(--lexxy-color-ink);
  font-family: var(--lexxy-font-base);
  font-size: var(--lexxy-text-small);
  font-weight: normal;
  inset-inline-end: 0;
  margin: 0.5ch 0.5ch 0 -0.5ch;
  padding: 0 2ch 0 1ch;
  text-align: start;

  @media (prefers-color-scheme: dark) {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 19.5c-.7 0-1.3-.3-1.7-.8l-9.8-11.1c-.7-.8-.6-1.9.2-2.6.8-.6 1.9-.6 2.5.2l8.6 9.8c0 .1.2.1.4 0l8.6-9.8c.7-.8 1.8-.9 2.6-.2s.9 1.8.2 2.6l-9.8 11.1c-.4.5-1.1.8-1.7.8z' fill='%23fff'/%3E%3C/svg%3E");
  }
}

/* Prompt
/* ------------------------------------------------------------------------ */

:where(.lexxy-prompt-menu) {
  --lexxy-prompt-avatar-size: 24px;
  --lexxy-prompt-min-width: 20ch;
  --lexxy-prompt-padding: 0.5ch;

  background-color: var(--lexxy-color-canvas);
  border-radius: calc(var(--lexxy-prompt-padding) * 2);
  box-shadow: var(--lexxy-shadow);
  color: var(--lexxy-color-ink);
  font-family: var(--lexxy-font-base);
  font-size: var(--lexxy-text-small);
  list-style: none;
  margin: 0;
  min-inline-size: var(--lexxy-prompt-min-width);
  padding: var(--lexxy-prompt-padding);
  visibility: hidden;
  z-index: var(--lexxy-z-popup);

  max-height: 200px;
  overflow: scroll;
}

:where(.lexxy-prompt-menu--visible) {
  visibility: initial;
}

:where(.lexxy-prompt-menu__item) {
  align-items: center;
  border-radius: 0.5ch;
  cursor: pointer;
  display: flex;
  gap: var(--lexxy-prompt-padding);
  padding: var(--lexxy-prompt-padding);
  white-space: nowrap;

  &:hover {
    background-color: var(--lexxy-color-ink-lightest);
  }

  &[aria-selected] {
    background-color: var(--lexxy-color-selected);
  }

  img {
    block-size: var(--lexxy-prompt-avatar-size);
    border-radius: 50%;
    flex-shrink: 0;
    inline-size: var(--lexxy-prompt-avatar-size);
    margin: 0;
  }

  + & {
    margin-top: 2px;
  }

  code {
    background-color: var(--lexxy-color-code-bg);
    border-radius: 0.25ch;
    font-size: 0.95em;
    padding-inline: 0.5ch;
  }
}

/* Empty state */
:where(.lexxy-prompt-menu__item--empty) {
  color: var(--lexxy-color-ink-medium);
  padding: var(--lexxy-prompt-padding);
}
